@{
    ViewData["Title"] = "afterlogin";
}

@section scripts {
    <script src="~/javascript/script.js"></script>
    <link href="~/css/style.css" rel="stylesheet" />
}
<nav>
    <div class="operation operation--withdraw">
        <h2>Withdraw Money</h2>
        <form class="form form--withdraw" action="@Url.Action("withdraw", "account")" method="post">
            <input type="number" class="form_input form_input--withdraw-amount" placeholder="Amount" name="amount" />
            <button type="submit" class="form_btn form_btn--withdraw">→</button>
        </form>
    </div>
</nav>

<nav>
    <div class="operation operation--loan">
        <h2>Request loan</h2>
        <form class="form form--loan" action="@Url.Action("loan", "account")" method="post">
            <input type="number" class="form_input form_input--loan-amount" name="loanAmount" />
            <button type="submit" class="form_btn form_btn--loan">&rarr;</button>
            <label class="form_label form_label--loan">Amount</label>
        </form>
    </div>
</nav>

<nav>
    <div class="operation operation--transfer">
        <h2>Transfer money</h2>
        <form class="form form--transfer" action="@Url.Action("transfer", "account")" method="post">
            <input type="text" class="form_input form_input--to" name="toAccount" />
            <input type="number" class="form_input form_input--amount" name="amount" />
            <button type="submit" class="form_btn form_btn--transfer">&rarr;</button>
            <label class="form__label">Transfer to</label>
            <label class="form__label">Amount</label>
        </form>
    </div>
</nav>


<div class="movements">
    <div class="movements__row">
        <div class="movements_type movements_type--deposit">2 deposit</div>
        <div class="movements__date">3 days ago</div>
        <div class="movements__value">4 000€</div>
    </div>
    <div class="movements__row">
        <div class="movements_type movements_type--withdrawal">
            1 withdrawal
        </div>
        <div class="movements__date">24/01/2037</div>
        <div class="movements__value">-378€</div>
    </div>
</div>

<div class="summary">
    <p class="summary__label">In</p>
    <p class="summary_value summary_value--in">0000€</p>
    <p class="summary__label">Out</p>
    <p class="summary_value summary_value--out">0000€</p>
    <p class="summary__label">Interest</p>
    <p class="summary_value summary_value--interest">0000€</p>
    <button class="btn--sort">&downarrow; SORT</button>
</div>